.AcounttaxSec .container-fluid {
  padding: 2rem !important;
}
.main-section {
  padding: 2rem 1rem;
}

.main-section > .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;
}
