.AcountStatementSec .container-fluid {
  padding: 3rem;
}
/* .main-section {
  padding: 6rem 3rem 0 3rem;
} */

/* .main-section > .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;
} */
