.TreasurySec .container-fluid {
  padding: 2rem 0.4rem !important;
}
.main-section > .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.main-section > .container {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 100% !important;
}
